<body>

<div class="dashboard">

  <header class="main_header">
    <i class="zmdi zmdi-menu"></i>

    <figure>
      <img src="/img/placeholder-logo.jpg" alt="Ghat logo" />
    </figure>
  </header>

  <div class="roomZone"></div>

  <div class="create-new-group">
    <form id="new-group-form">
      <input id="new-group-input" type="text" name="new_group" value="" placeholder="New Goup">
      <input id="add-new-group" type="submit" />
    </form>
  </div>


  <div class="home-add-button">
    <i class="zmdi zmdi-plus"></i>
  </div>

  <div class="home-add-group">
    <div class="secon-button">
      <i class="zmdi zmdi-accounts"></i>
    </div>
    <p>Create new group</p>
  </div>

  <div class="home-add-contact">
    <div class="secon-button">
      <i class="zmdi zmdi-account-add"></i>
    </div>
    <p>Add contact</p>
  </div>

</div>




</body>
